.input-box {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
}

.input-left {
  width: 50%;
}

.input-label {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
  display: inline-block;
}

.input-field {
  outline: none;
  width: 100%;
  background-color: transparent;
  padding: 6px 0;
  border: none;
  font-size: 14px;
}

.input-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

.currency-label {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
  width: 100%;
}

.currency-select {
  border-radius: 8px;
  padding: 6px 8px;
  background-color: #f3f4f6;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
}
